/* tagline above layout */
.tagLine{
    display: flex;
    width: 100%;
    height: auto;
    color: #c07008;
    background-color: #f6ddc9;
    justify-content: center;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.tagLine p{
    margin: 0px;
    font-size: 18px;
    font-family: sans-serif;
}

/* complete layout */
.layout{
    display: flex;
}


/* logo in sidebar */
.logo{
    display: flex;
    margin-bottom: 30px;
}
.logo-img{
    display: inline;
    width: 45px;

}
.logo-text{
    display: inline;
    font-size: 27px;
    font-family: sans-serif;
}





/* Menu links with icons and text */
.ul{
    display: block;
    background: rgb(30, 30, 128);
    background: linear-gradient(0deg, rgb(18, 50, 132) 1%, rgb(21, 77, 175) 49%, rgb(19, 107, 239) 100%);
    color: whitesmoke;
    height: auto;
    width: 18%;
    
    padding-top: 10px;
}
.ul .li{
    width: auto;
    margin-right: 20px;
}
.ul .li >a{
    text-decoration: none;
}

a:is(:link,:active,:visited).active{
    color: #fff;
    background-color: #3771dd;
}

.manu:hover{
    background-color: #3771dd;
    color: white;
}

.wrapping-menu-logo{
    padding-left: 30px;
}
.manu{
    display: flex;
    padding: 10px;
    border-radius: 8px;

}
.menu-img{
    width: 20px;
    display: inline;
    margin-right: 10px;

}
.menu-text{
    display: inline;
    font-size: 15px;
    font-family: sans-serif;
    color: whitesmoke;

}

/* sidebar bottom module */

.expolre{
    background-color: #e6efff;
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
    padding-right: 0px;
    margin-top: 300px;

}
.exp-title{
    font-family: system-ui;
    font-size: 18px;
    color: #135adb;
    font-weight: 500;


}
.subitems{
    margin-top: 30px;
   
}
.subitem-img-text{
    display: flex;
    margin-bottom: 15px;
    

}
.subitem-img-text .icon{
    color: #333;
    font-family: monospace;
    position: relative;
    top: -2px;
    margin-right: 6px;
}
.subitem-img-text span{
    font-family: sans-serif;
    color: #333;
    font-size: 10px;
    display: inline;
}

.priceButton{
    /* display: flex; */
    color: #333;
    font-weight: 500;
    font-size: 12px;
    font-family: system-ui;
    margin-bottom: 15px;
}
.priceButton img.rupeesimg{
    width: 7px;

}
.priceButton button span{
    position: relative;
    top: -1px;
    margin-left: 5px;
    margin-right: 5px;
}
.priceButton button img{
    width: 18px;
}
.priceButton button
{
    background-color: #135adb;
    border-radius: 15px 0px 0px 15px;
    border: none;
    float: right;
    font-size: 13px;
    font-family: system-ui;
    color: #fff;
    padding: 6px;
    display: flex;
    box-shadow: 0px 4px 0px 0px #00000021;
}
span.priceLabel{
    
    position: relative;
    top: 5px;
}

/*LogOut button*/
.lgtBtn{
    background-color: transparent;
    color: whitesmoke;
    border: none;
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 25px;
    display: flex;

}
.lgtBtn img{
    width: 20px;
}
.lgtBtn span{
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 10px;
    position: relative;
    top: 01px;
}
button:hover{
    cursor: pointer;
}
/* Log in From Wrapper */
.formWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* body to display targated compoments */
.outlet{
    background-color: #f7f7f7;
    width: -webkit-fill-available;
    /* padding: 0px 50px 0px 50px; */
    
}


/* Home page */

/* Image text row */
.PWE{
    display: flex;
    place-content: space-evenly;
}
.subTitle{
    font-family: system-ui;
    font-size: 20px;
    color: #191b1e;
    font-weight: 500;
    margin-left: 92px;

}

.firstRow{
    display: flex;
    /* place-content:space-evenly !important; */

}
.secondRow{
    display: flex;
    /* place-content:space-evenly !important; */

}
.row-image-text{
    display: grid;
    text-align: center;   
}

.firstRow .row-image-text{
    margin: 14px;
}
.secondRow .row-image-text{
    margin: 16px;
}
.row-image-text img{
    width: 150px;
}
.img2{
    margin-left:5px;
}
.img4{
    margin-left: 5px;
}
.row-image-text span{
    margin-top: 8px;
    font-family: sans-serif;
    font-size: 15px;
}

/* Side youtube video */
.appGdVdo{
    display: flex;
    background-color: #fff;
    width: 270px;
    justify-content: center;
    margin:15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px #3333330f;
    
}
.appGdVdo span{
    margin-top: 8px;
    font-family: sans-serif;
    font-size: 15px;
    color: #333222;
    margin-left: 8px;
}
.appGdVdo video{
    width: 30px;
}
.appGdVdo video:hover{
    cursor: pointer;
}
/* Start button with instruction */
.practiceMT{
    display: grid;
    background-color: #fff;
    width: 250px;
    justify-content: center;
    margin:15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px #3333330f;
}
.practiceMT h3{
    font-family: sans-serif;
    font-size: 18px;
    /* margin: 3px; */
    margin-top: 3px;
    margin-bottom: 3px;
}
.practiceMT span{
    margin-top: 8px;
    font-family: sans-serif;
    font-size: 15px;
    color: #333222;
    margin-bottom: 15px;
}
.practiceMT button{
    background-color: #0843b2;
    border: none;
    border-radius: 15px;
    padding: 5px;
    color: whitesmoke;
    font-family: sans-serif;
}
button:hover{
    background-color: #3771dd;
    color: white;
}
/* USER login module */
.homeUSerLogin{
    background-color: #fff;
    text-align-last: right;
    display: grid;
    margin-bottom: 35px;
    
}
.homeUSerLogin>a{
    margin: 0px;
    padding: 5px;
    margin-right: 85px;
    display: flex;
    justify-content: end;
    justify-self: self-end;

}
.homeUSerLogin img{
    
    width: 35px;
}
.homechart-image{
    display: flex;
    place-content: space-evenly;
    height: 335px;
}
.blurbModule img{
    width: 345px;

}
.title-text-btn{
    display: grid;
    position: relative;
    padding: 30px;
    width: 285px;
    text-align: -webkit-center;
    top: -160px;

}
.title-text-btn h3{
    color: #fff;
    margin: 0px;
    font-size: 25px;
    font-weight: 500;
    line-height: 24px;
    
}
.title-text-btn span{
    color: rgb(196, 196, 196);
    font-size: 12px;
    font-family: sans-serif;
    margin-bottom: 10px;
    margin-top: 4px;
}
.title-text-btn button{
    border: none;
    border-radius: 15px;
    width: 140px;
    justify-self: center;
    font-family: sans-serif;
    padding-top: 3px;
    padding-bottom: 3px;
}



/* Some Animation */

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

@media (prefers-reduced-motion: no-preference) {
    .square-animation {
      animation: wipe-enter 1s ease-in;
    }
  }
  .square{
    width: 150px;
   
  }

  /* Chart */
  .graphChart canvas{
    height: 222px !important;
    width: 650px !important;
  }


.align-center{
    text-align-last: center;
}

/* Desktop View */
@media(min-width:800px){
    .desk{
        display: block !important;
    }
    .mob{
        display: none !important;
    }
    .homechart-image{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .labelandcharWrap{
        height: 274px !important;
    }
}
  /* Mobile View */
@media(max-width:800px){
    .desk{
        display: none !important;
    }
    .mob{
        display: block !important;
    }


    .layout{
        display:block;
    }
    .tagLine{
        display: none;
    }
    .menu-text{
        font-size: 12px !important;

    }
    .manu {
        display: table-caption !important;
        padding: 6px !important;
        border-radius: 8px !important;
        text-align: -webkit-center !important;
    }
    .ul .li {
        width: auto !important;
        margin-right: 0px !important;
        display: inline-block !important;
    }
    .ul{
        width: 100% !important;
        position:fixed;
        left: 0 !important;
        bottom: 0px !important;
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgb(249, 249, 249) 0%, rgb(255, 255, 255) 49%, rgb(253, 253, 253) 100%);
        text-align: center;
        
        
    }
    .wrapping-menu-logo {
        justify-content: center;
        display: inline-flex;
        width: 100%;
        padding-bottom: 10px;
        padding-left: 0px !important;
    
    }
    .menu-img{
        margin-right: 0px !important;
    }
    /* mob */
    .ul .li >a{
        filter: brightness(0.4) !important;
        margin: 0px 5px 0px 5px;

    }
    a:is(:link,:active,:visited,:hover).active{
        color: #fff !important;
        background-color: #3771dd !important;
        filter: none !important;
    }
    .title-text-btn {
        padding: 0px !important;
        display: grid !important;
        position: absolute !important;
        transform: translate(88%, 87%);
        padding-top: 20px !important;
        padding-bottom: 10px !important;
        width: 185px !important;
        text-align: left !important;
        /* top: -182px !important; */
        /* background: #2f3c42 !important; */
        /* right: -184px !important; */
        height: 148px !important;
        border-radius: 0px 10px 10px 0px !important;
        text-align-last: left;
    }
    .blurbModule{
        height: 180px !important;
    text-align-last: center !important;
    position: relative;
    width: 100%;
    }
    
    .title-text-btn button {
        border: none;
        border-radius: 40px;
        width: 80px;
        justify-self: left;
        font-family: sans-serif;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align-last: center;
    }
    .title-text-btn span{
        font-size: 13px !important;
    }
    .title-text-btn h3{
        font-size: 18px !important;
    }
    .graphChart canvas {
        height: 200px !important;
        width: 320px !important;
    }
.utb-wtsp-sec{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.appGdVdo{
    padding: 10px !important;
    width: 126px;
}
.appGdVdo video{
    width: 20px !important;
}
.appGdVdo span{
    font-size: 13px !important;
    top: -2px;
    position: relative;

}
.subTitle{
    margin-left: 10px ;
}
.qick-title{
    color: #888;
}

.expolre{
    display: grid;
}
.subitems{
    display: flex;
}
.priceButton button{
    float: none !important;
}
span.priceLabel{
    top: -5px !important;
    margin-right: 4px;

}
.priceButton{
    text-align-last: end;
    position: relative;
    height: 60px;
    top: 22px;
    right: -51px;
}
.subitem-img-text{
    margin-bottom: 8px !important;
}
.expolre{
    margin-top: 0px !important;
}
.practiceMT button {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    padding: 0px;
}
.row-image-text img{
    width: 95px;
    box-shadow: 0px 3px 4px 2px #3333330f;
    border-radius: 16px;

}
.secondRow .row-image-text{
    margin: 11px;
}
.firstRow .row-image-text{
    margin: 12px;
}
.img2{
    margin-left: 0px;
}
.row-image-text span{
    font-weight: 600;
    font-size: 14px;
}

.practiceMT{
    display: flex;
    width: 298px;
    padding: 15px;
    box-shadow: 0px 0px 0px 2px #3333330f;

}
.practiceMT h3{
    font-size: 14px;
}
/* mob */
.practiceMT span{
    font-size: 10px !important;
}
.outlet{
    padding-bottom: 80px;
}
/* mob */
.checklist-image{
    place-self:unset;
}
.checklist-image img{
    width: 40px;
}
.firstRow{
    display: flex;
    place-content:space-evenly !important;

}
.secondRow{
    display: flex;
    place-content:space-evenly !important;

}

.homechart-image{
    height: 245px;
}
.mobileLabel{
    
    background-color: #fff;
    
    padding: 0px;
    border: 1px solid transparent;
    box-shadow: 0px 3px 4px 2px #3333330f;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 15px;
    
    background-image:  linear-gradient(white,white),
    linear-gradient(to right, #135adb,yellow);
      /* linear-gradient(to right, #135adb 12%, yellow 32%, yellow 12%, yellow 50%, yellow 100%, rgb(249, 233, 214) 100%) 1; */
      background-origin: border-box;
      background-clip: content-box, border-box;
    
}
.mobileLabel1{
    padding: 10px;
    gap: 60px;
    place-content:space-evenly !important;
    display: flex;
}
.mobileLabel button{
    background-color: rgb(249, 233, 214);
    border-radius: 40px;
    border: none;
    padding: 4px;
    color: #f6af52;
}
.mobileLabel1 span{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    place-self: center;

}

/* Mobile header design */
.mobheaderWrap{
    display: block !important;
    background: rgb(30, 30, 128);
    background: linear-gradient(0deg, rgb(18, 50, 132) 1%, rgb(21, 77, 175) 49%, rgb(19, 107, 239) 100%);
}
.mob-hdr-itm-wrapper{
    display: flex;
    
}
.timeT{
    color: #fff;
    font-family: sans-serif;
}
.firstLine{
    display: inline-flex;
    padding: 15px;
    width: 100%;
    
}
.net-wifi-battr{
    color: #fff;
    width: 100%;
    gap: 6px;
    display: flex;
    justify-content: end;
    
}
.network{
font-size: 20px;
top: -2px;
    position: relative;
}
.wifi{
font-size: 20px;
}
.battery{
    font-size: 24px;
    top: -2px;
    position: relative;
    
}

.secondLine{
    display: flex;
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    width: 100%;
    justify-content: center;
    gap: 90px;
}
.chartLabelrow,
.thirdLinerow,
.thirdLineWrap,
.seconfLineWrap{
    display: flex;
}
.homeUSerLogin{
    background-color: transparent;
    text-align-last: left;
    display: flex;
    margin-bottom: 0px;
    width: 45px;
}
.chartLabelrow,
.secondLine span{
    align-self: center;
}
.thirdLineWrap{
    margin-top: 10px;
}

.thirdLine{
    display: flex;
    font-family: sans-serif;
    font-size: 15px;
    width: 100%;
    justify-content: center;
    
}
.thirdLinerow{
    background-color: #2251a8;
    border-radius: 40px;
    padding: 10px;
    margin-bottom: 5px;
    gap: 12px;
    align-self: center;

}
.mobielts{
    background-color: #fff;
    border-radius: 40px;
    padding: 8px 12px 8px 12px;
    color: #135adb;
    align-self: center;
}
.thirdLinerow>span,
.mobote,
.mobtoefl{
color: #fff;
align-self: center;
}

/* chart label css */

.chartLabelLine{
    align-self: center;
}
.chartLabelrow{
    display: flex;
    font-family: sans-serif;
    font-size: 15px;
    /* width: 100%; */
    margin: 5px;
    justify-content: center;
}




.linechartRow{
    display: flex;
}
.lineChart{
    display: flex;
    width: 100%;
    /* padding: 10px; */
    justify-content: center;

}
.labelandcharWrap{
    padding: 2px !important;
}

/* Margine fix */
.expolre {
    margin: 0 18px 0px 19px;
}
.labelandcharWrap{
    margin: 0 9px;
}
.mobileLabel{
    margin-left: 8px;
    margin-right: 8px;
}
    /* Mobile view end till above */
}

.chartLabelrow{
    display: flex;
    font-family: sans-serif;
    font-size: 15px;
    /* width: 100%; */
    margin: 5px;
    justify-content: left;
}
.charttext1{
    color: rgb(22, 219, 222);
}
.chartLabelWrap{
    display: flex;
}
.chartLabelrow{
    border-radius: 40px;
    background-color: #fdf9e0;
    padding: 7px;
}
.labelandcharWrap{
    padding:10px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 3px 3px 3px #3333331f;
    
}

.chartLabelrow{
    align-self: center;
    display: flex;
}


/* Final touch */
body{
    box-sizing: border-box;
    margin: 0;
}

